html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  body {
    margin: 0;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
    height: 600px;
    left: 25% !important;
  }
  
  /* responsive, form small screens, use 13px font size */
  @media (max-width: 1000px) {
    svg {
      display: inline-block;
      vertical-align: middle;
      height: 600px;
    }
  }
  #root-svg-group > g:nth-child(4) {
    display: none; /* or visibility: hidden; */
  }
  .no-flex {
    display: block !important; /* or display: inline-block; */
  }
  /* styles.css */
.no-flex-svg-group {
    display: block !important; /* or display: inline-block; */
  }

  /* styles.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
}
